In [1]:
import pandas as pd

## Adult Data Set

In [2]:
adult = pd.read_csv("../data/adult.csv", header=None)

In [3]:
adult['label'] = adult[14].apply(lambda x: 1 if x == " <=50K" else 0)

In [4]:
adult

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,label
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K,1
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K,1
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,1
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K,1
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K,1
5,37,Private,284582,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K,1
6,49,Private,160187,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K,1
7,52,Self-emp-not-inc,209642,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K,0
8,31,Private,45781,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K,0
9,42,Private,159449,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K,0
10,37,Private,280464,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K,0
11,30,State-gov,141297,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K,0
12,23,Private,122272,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K,1
13,32,Private,205019,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K,1
14,40,Private,121772,Assoc-voc,11.0,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,?,>50K,0
15,34,Private,245487,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K,1
16,25,Self-emp-not-inc,176756,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,<=50K,1
17,32,Private,186824,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K,1
18,38,Private,28887,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K,1
19,43,Self-emp-not-inc,292175,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,>50K,0
20,40,Private,193524,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,60.0,United-States,>50K,0
21,54,Private,302146,HS-grad,9.0,Separated,Other-service,Unmarried,Black,Female,0.0,0.0,20.0,United-States,<=50K,1
22,35,Federal-gov,76845,9th,5.0,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K,1
23,43,Private,117037,11th,7.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,2042.0,40.0,United-States,<=50K,1
24,59,Private,109015,HS-grad,9.0,Divorced,Tech-support,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K,1
25,56,Local-gov,216851,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,40.0,United-States,>50K,0
26,19,Private,168294,HS-grad,9.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K,1
27,54,?,180211,Some-college,10.0,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0.0,0.0,60.0,South,>50K,0
28,39,Private,367260,HS-grad,9.0,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,0.0,80.0,United-States,<=50K,1
29,49,Private,193366,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,44,Private,116632,Assoc-acdm,12.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K,1
461,54,Local-gov,288825,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K,1
462,32,Private,132601,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K,1
463,50,Private,193374,1st-4th,2.0,Married-spouse-absent,Craft-repair,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K,1
464,24,Private,170070,Bachelors,13.0,Never-married,Tech-support,Not-in-family,White,Female,0.0,0.0,20.0,United-States,<=50K,1
465,37,Private,126708,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,60.0,United-States,<=50K,1
466,52,Private,35598,HS-grad,9.0,Divorced,Transport-moving,Unmarried,White,Male,0.0,0.0,40.0,United-States,<=50K,1
467,38,Private,33983,Some-college,10.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K,1
468,49,Private,192776,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1977.0,45.0,United-States,>50K,0
469,30,Private,118551,Bachelors,13.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,16.0,United-States,>50K,0
470,60,Private,201965,Some-college,10.0,Never-married,Prof-specialty,Unmarried,White,Male,0.0,0.0,40.0,United-States,>50K,0
471,22,?,139883,Some-college,10.0,Never-married,?,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K,1
472,35,Private,285020,HS-grad,9.0,Never-married,Craft-repair,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,1
473,30,Private,303990,HS-grad,9.0,Never-married,Transport-moving,Not-in-family,White,Male,0.0,0.0,60.0,United-States,<=50K,1
474,67,Private,49401,Assoc-voc,11.0,Divorced,Other-service,Not-in-family,White,Female,0.0,0.0,24.0,United-States,<=50K,1
475,46,Private,279196,Bachelors,13.0,Never-married,Craft-repair,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K,1
476,17,Private,211870,9th,5.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,6.0,United-States,<=50K,1
477,22,Private,281432,Some-college,10.0,Never-married,Handlers-cleaners,Own-child,White,Male,0.0,0.0,30.0,United-States,<=50K,1
478,27,Private,161155,10th,6.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K,1
479,23,Private,197904,HS-grad,9.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,35.0,United-States,<=50K,1
480,33,Private,111746,Assoc-acdm,12.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,45.0,Portugal,<=50K,1
481,43,Self-emp-not-inc,170721,Some-college,10.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,20.0,United-States,<=50K,1
482,28,State-gov,70100,Bachelors,13.0,Never-married,Prof-specialty,Not-in-family,White,Male,0.0,0.0,20.0,United-States,<=50K,1
483,41,Private,193626,HS-grad,9.0,Married-spouse-absent,Craft-repair,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K,1
484,52,?,271749,12th,8.0,Never-married,?,Other-relative,Black,Male,594.0,0.0,40.0,United-States,<=50K,1
485,25,Private,189775,Some-college,10.0,Married-spouse-absent,Adm-clerical,Own-child,Black,Female,0.0,0.0,20.0,United-States,<=50K,1
486,63,?,401531,1st-4th,2.0,Married-civ-spouse,?,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K,1
487,59,Local-gov,286967,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,45.0,United-States,<=50K,1
488,45,Local-gov,164427,Bachelors,13.0,Divorced,Prof-specialty,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K,1
489,38,Private,9103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
adult = adult.dropna(axis=0, how='any')
data = adult.drop([14, 'label'], axis=1)
label = adult['label']

In [6]:
data = pd.get_dummies(data)

In [115]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[[0,2,4,10,11,12]] = scaler.fit_transform(data[[0,2,4,10,11,12]])

In [116]:
data

,0,2,4,10,11,12,1_ ?,1_ Federal-gov,1_ Local-gov,1_ Private,...,13_ Laos,13_ Mexico,13_ Philippines,13_ Poland,13_ Portugal,13_ Puerto-Rico,13_ South,13_ Taiwan,13_ Thailand,13_ United-States
0,0.301370,0.055671,0.800000,0.063763,0.000000,0.402062,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.452055,0.061397,0.800000,0.000000,0.000000,0.123711,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.287671,0.192157,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0.493151,0.211005,0.400000,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0.150685,0.313458,0.800000,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0.273973,0.260272,0.866667,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
6,0.438356,0.137358,0.266667,0.000000,0.000000,0.154639,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0.479452,0.186224,0.533333,0.000000,0.000000,0.453608,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0.191781,0.024314,0.866667,0.413081,0.000000,0.505155,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,0.342466,0.136629,0.800000,0.151870,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
10,0.273973,0.256203,0.600000,0.000000,0.000000,0.814433,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
11,0.178082,0.118693,0.800000,0.000000,0.000000,0.402062,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0.082192,0.099894,0.800000,0.000000,0.000000,0.298969,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
13,0.205479,0.181656,0.733333,0.000000,0.000000,0.505155,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
14,0.315068,0.099400,0.666667,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,0.232877,0.221643,0.200000,0.000000,0.000000,0.453608,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
16,0.109589,0.153730,0.533333,0.000000,0.000000,0.350515,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0.205479,0.163678,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
18,0.287671,0.007621,0.400000,0.000000,0.000000,0.505155,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
19,0.356164,0.267775,0.866667,0.000000,0.000000,0.453608,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0.315068,0.170298,1.000000,0.000000,0.000000,0.608247,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
21,0.506849,0.277627,0.533333,0.000000,0.000000,0.195876,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
22,0.246575,0.055008,0.266667,0.000000,0.000000,0.402062,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0.356164,0.094722,0.400000,0.000000,0.845549,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
24,0.575342,0.086795,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
25,0.534247,0.193348,0.800000,0.000000,0.000000,0.402062,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
26,0.027397,0.145369,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
27,0.506849,0.157144,0.600000,0.000000,0.000000,0.608247,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,0.301370,0.341966,0.533333,0.000000,0.000000,0.814433,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
29,0.438356,0.170142,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,0.205479,0.093445,0.600000,0.000000,0.000000,0.402062,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
460,0.369863,0.094322,0.733333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
461,0.506849,0.264465,0.533333,0.000000,0.000000,0.402062,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
462,0.205479,0.110101,0.800000,0.000000,0.000000,0.505155,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
463,0.452055,0.170150,0.066667,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
464,0.095890,0.147123,0.800000,0.000000,0.000000,0.195876,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
465,0.273973,0.104278,0.533333,0.000000,0.000000,0.608247,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
466,0.479452,0.014252,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
467,0.287671,0.012657,0.600000,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
468,0.438356,0.169559,0.866667,0.000000,0.818634,0.453608,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
469,0.178082,0.096218,0.800000,0.000000,0.000000,0.154639,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
470,0.589041,0.178639,0.600000,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
471,0.068493,0.117296,0.600000,0.000000,0.000000,0.402062,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
472,0.246575,0.260705,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
473,0.178082,0.279449,0.533333,0.000000,0.000000,0.608247,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
474,0.684932,0.027891,0.666667,0.000000,0.000000,0.237113,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
475,0.397260,0.254950,0.800000,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
476,0.000000,0.188426,0.266667,0.000000,0.000000,0.051546,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
477,0.068493,0.257160,0.600000,0.000000,0.000000,0.298969,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
478,0.136986,0.138315,0.333333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
479,0.082192,0.174626,0.533333,0.000000,0.000000,0.350515,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
480,0.219178,0.089494,0.733333,0.000000,0.000000,0.453608,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
481,0.356164,0.147767,0.600000,0.000000,0.000000,0.195876,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
482,0.150685,0.048344,0.800000,0.000000,0.000000,0.195876,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
483,0.328767,0.170399,0.533333,0.000000,0.000000,0.402062,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
484,0.479452,0.247592,0.466667,0.017422,0.000000,0.402062,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
485,0.109589,0.166594,0.600000,0.000000,0.000000,0.195876,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
486,0.630137,0.375829,0.066667,0.000000,0.000000,0.350515,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
487,0.575342,0.262629,0.533333,0.000000,0.000000,0.453608,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
488,0.383562,0.141548,0.800000,0.000000,0.000000,0.402062,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [117]:
train = data[0:380]
train_label = label[0:380]
test = data[380:]
test_label = label[380:]

## Cancer Data Set

In [454]:
cancer = pd.read_csv("../data/cancer.csv", header=None)

In [456]:
cancer[:10]

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,...,22.88,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,...,17.06,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510
8,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,...,15.49,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.2060,0.4378,0.10720
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,...,15.09,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.2210,0.4366,0.20750

In [458]:
goal = cancer[1]

In [461]:
label = goal.apply(lambda x: 1 if x == "M" else 0)

In [465]:
data = cancer.drop([0,1], axis=1)

In [468]:
scaler = MinMaxScaler(copy=False)
scaler.fit_transform(data)

array([[ 0.52103744,  0.0226581 ,  0.54598853, ...,  0.91202749,
         0.59846245,  0.41886396],
       [ 0.64314449,  0.27257355,  0.61578329, ...,  0.63917526,
         0.23358959,  0.22287813],
       [ 0.60149557,  0.3902604 ,  0.59574321, ...,  0.83505155,
         0.40370589,  0.21343303],
       ...,
       [ 0.45525108,  0.62123774,  0.44578813, ...,  0.48728522,
         0.12872068,  0.1519087 ],
       [ 0.64456434,  0.66351031,  0.66553797, ...,  0.91065292,
         0.49714173,  0.45231536],
       [ 0.03686876,  0.50152181,  0.02853984, ...,  0.        ,
         0.25744136,  0.10068215]])

In [403]:
data[:5]

array([[ 0.30769231,  0.18627451,  0.21686747,  0.30828221,  0.10682493,
         0.14982578,  0.37354988,  0.26778485,  0.25454545,  0.26744186,
         0.12903226],
       [ 0.24038462,  0.21568627,  0.20481928,  0.01533742,  0.11869436,
         0.04181185,  0.28538283,  0.13283208,  0.52727273,  0.31395349,
         0.24193548],
       [ 0.41346154,  0.19607843,  0.24096386,  0.09662577,  0.12166172,
         0.09756098,  0.20417633,  0.15403894,  0.49090909,  0.25581395,
         0.33870968],
       [ 0.32692308,  0.14705882,  0.19277108,  0.12116564,  0.14540059,
         0.15679443,  0.41067285,  0.16367843,  0.42727273,  0.20930233,
         0.30645161],
       [ 0.32692308,  0.14705882,  0.19277108,  0.12116564,  0.14540059,
         0.15679443,  0.41067285,  0.16367843,  0.42727273,  0.20930233,
         0.30645161]])

In [591]:
train = data[0:350]
train_label = label[0:350]
test = data[350:]
test_label = label[350:]

In [592]:
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score

In [593]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(
    C=2.0,
)
lr.fit(train, train_label)
# lr.score(test, test_label)

LogisticRegression(C=2.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [667]:
from xgboost.sklearn import XGBClassifier
xgb = XGBClassifier(
    learning_rate=0.02,
    subsample=0.5,
    n_estimators=3000,
    max_depth=3,
    reg_alpha=0.1,
    gamma=0.2
)
xgb.fit(train, train_label)
# xgb.score(test, test_label)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0.2, learning_rate=0.02, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=3000, nthread=-1,
       objective='binary:logistic', reg_alpha=0.1, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=0.5)

In [672]:
from sklearn.ensemble import GradientBoostingClassifier
gbdt = GradientBoostingClassifier(
    n_estimators=2000,
    max_depth=3,
    learning_rate=0.02,
    min_samples_split=3,
    subsample=0.5
)
gbdt.fit(train, train_label)
# gbdt.score(test, test_label)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.02, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=3, min_weight_fraction_leaf=0.0,
              n_estimators=2000, presort='auto', random_state=None,
              subsample=0.5, verbose=0, warm_start=False)

In [707]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(
    hidden_layer_sizes=(55,),
    max_iter=1000,
    alpha=4
)
mlp.fit(train, train_label)
# mlp.score(test, test_label)

MLPClassifier(activation='relu', alpha=4, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(55,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [708]:
model = mlp
pred = model.predict(test)
score = model.predict_proba(test)
score = [x[1] for x in score]
print(precision_score(test_label, pred))
print(roc_auc_score(test_label, score))

0.964285714286
0.999102132435

In [681]:
model = mlp
pred = model.predict(train)
score = model.predict_proba(train)
score = [x[1] for x in score]
print(precision_score(train_label, pred))
print(roc_auc_score(train_label, score))

0.980891719745
0.997198048523

## Forest Fires Data Set

In [16]:
fire = pd.read_csv("../data/fire.csv")

In [132]:
fire[:5]

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.0
1,7,4,oct,tue,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.0
2,7,4,oct,sat,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.0
3,8,6,mar,fri,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.0
4,8,6,mar,sun,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.0

In [18]:
target = fire["area"]

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler = MinMaxScaler()
fire[['FFMC','DMC','DC','ISI','temp','RH','wind','rain']] \
= scaler.fit_transform(fire[['FFMC','DMC','DC','ISI','temp','RH','wind','rain']])

In [29]:
data = fire.drop(['area'], axis=1)
data['X'] = data['X'].apply(lambda x: str(x))
data['Y'] = data['Y'].apply(lambda x: str(x))

In [30]:
data[:5]

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain
0,7,5,mar,fri,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000
1,7,4,oct,tue,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000
2,7,4,oct,sat,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000
3,8,6,mar,fri,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125
4,8,6,mar,sun,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000

In [36]:
data = pd.get_dummies(data)

In [61]:
data[:5]

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,X_1,X_2,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0,0,...,0,0,0,0,0,0,1,0,0,0

In [133]:
train = data[:450]
train_label = target[:450]
test = data[450:]
test_label = target[450:]

In [392]:
wine = pd.read_csv("../data/wine.csv", delimiter=';')
wine[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [393]:
target = wine['quality']

In [409]:
data = wine.drop(['quality'], axis=1)
data[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [406]:
scaler = MinMaxScaler(copy=False)
scaler.fit_transform(data)

array([[ 0.30769231,  0.18627451,  0.21686747, ...,  0.25454545,
         0.26744186,  0.12903226],
       [ 0.24038462,  0.21568627,  0.20481928, ...,  0.52727273,
         0.31395349,  0.24193548],
       [ 0.41346154,  0.19607843,  0.24096386, ...,  0.49090909,
         0.25581395,  0.33870968],
       ...,
       [ 0.25961538,  0.15686275,  0.11445783, ...,  0.24545455,
         0.27906977,  0.22580645],
       [ 0.16346154,  0.20588235,  0.18072289, ...,  0.56363636,
         0.18604651,  0.77419355],
       [ 0.21153846,  0.12745098,  0.22891566, ...,  0.49090909,
         0.11627907,  0.61290323]])

In [407]:
data[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0.307692,0.186275,0.216867,0.308282,0.106825,0.149826,0.373550,0.267785,0.254545,0.267442,0.129032
1,0.240385,0.215686,0.204819,0.015337,0.118694,0.041812,0.285383,0.132832,0.527273,0.313953,0.241935
2,0.413462,0.196078,0.240964,0.096626,0.121662,0.097561,0.204176,0.154039,0.490909,0.255814,0.338710
3,0.326923,0.147059,0.192771,0.121166,0.145401,0.156794,0.410673,0.163678,0.427273,0.209302,0.306452
4,0.326923,0.147059,0.192771,0.121166,0.145401,0.156794,0.410673,0.163678,0.427273,0.209302,0.306452

In [415]:
train = data[:4200]
train_label = target[:4200]
test = data[4200:]
test_label = target[4200:]

In [411]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train, train_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [445]:
from sklearn.ensemble import GradientBoostingRegressor
gbrt = GradientBoostingRegressor(
    n_estimators=1000,
    subsample=1,
    max_depth=3,
    min_samples_split=2,
    min_samples_leaf=3,
    learning_rate=0.01,
)
gbrt.fit(train, train_label)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_split=1e-07,
             min_samples_leaf=3, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=1000,
             presort='auto', random_state=None, subsample=1, verbose=0,
             warm_start=False)

In [441]:
from xgboost.sklearn import XGBRegressor
xgb = XGBRegressor(
    n_estimators=1000,
    learning_rate=0.01,
    gamma=2,
    max_depth=3,
    reg_alpha=1,
    reg_lambda=1000,
    subsample=1
)
xgb.fit(train, train_label)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=2,
       learning_rate=0.01, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=1000, nthread=-1,
       objective='reg:linear', reg_alpha=1, reg_lambda=1000,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [589]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor(
    hidden_layer_sizes=(12,),
    max_iter=1000,
    alpha=30,
    learning_rate_init=0.1
)
mlp.fit(train, train_label)

MLPRegressor(activation='relu', alpha=30, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(12,), learning_rate='constant',
       learning_rate_init=0.1, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [590]:
model = mlp
pred = model.predict(test)
print(mean_absolute_error(test_label, pred))
print(mean_squared_error(test_label, pred))

0.513565368834
0.482000148502

In [552]:
model = mlp
pred = model.predict(train)
print(mean_absolute_error(train_label, pred))
print(mean_squared_error(train_label, pred))

0.622189766167
0.623465522372

In [241]:
tmp = pd.DataFrame()
tmp[0] = train_label
tmp[1] = pred
tmp[:5]

     0         1
0  0.0  0.451542
1  0.0 -0.123599
2  0.0 -0.200765
3  0.0  0.097412
4  0.0 -0.596789